$test-color: red;
$layout-color: #9867f7;
$primary-color: #13c2c2;
$layout-background-color: fade($layout-color, 12%);
$layout-hover-bg-color: fade($layout-color, 24%);
$primary-hover-bg-color: fade($primary-color, 20%);
